/instance/
__pycache__/
/.vscode/
/myenv/
/.pytest_cache/
/htmlcov/
/.coverage
*.sqlite
~$*

# --ESLint,Prettier用の設定--
# Nodeモジュール
node_modules/

# ログファイル
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# エディタの設定
.vscode/
.idea/
*.swp

# ビルド成果物
dist/
build/

# ESLintキャッシュ
.eslintcache

# Prettierのキャッシュ
.prettiercache
